*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 2px;
    background-color: grey;
    border: 2px solid grey;
    flex-wrap: wrap;
    
    
}
.fitem{
    background-color: aqua;
    border: 2px solid black;
    width:122px;
    height: 122px;
    margin: 5px;
    
}

.fitem:nth-child(5n) {
    width: 100%;
  }